
#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  background-color: #f9fafb;
}

body, #root {
  @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
}